<%- include('../partials/head') %>
  <div class="container">
  <%- include('../partials/nav.ejs') %>
   <nav style="margin-top:36px;margin-bottom:36px">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
            <h1 class="title">Users (<%= viewData.users.length %>)</h1>
        </div>
      </div>
      
      <div class="level-right">
   
        <div class="level-item">
            <a href="/users/new" class="button is-info"><strong>Add New User</strong></a>
        </div>
      </div>
    </div>
  </nav>
  
    <table class="table is-fullwidth">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th></th>
        </thead>
        <tbody>
            <% viewData.users.forEach(function(user){%>
                <tr>
                    <td><%= user.firstName %> <%= user.lastName %></td>
                    <td><%= user.email %></td>
                    <td><%= user.userType.title %></td>
                    <td><a href onclick="showModal(event,'<%= user._id%>', '<%= viewData.resource %>')"><i class="far fa-trash-alt"></i> Delete</a></td>
                </tr>
            <%})%>
        </tbody>
    </table>
   </div>

<%- include('../partials/modals/delete') %>